In [1]:
# Set a random seed to make results reproducible
import random
random.seed(42)

In [2]:
# Create a list of integers, 0-100
int_list = list(range(101))

In [3]:
int_list

[0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99,
 100]

In [4]:
import pandas as pd

In [6]:
# put data into dataframe
df = pd.DataFrame({'a': int_list})

In [8]:
df.a

0        0
1        1
2        2
3        3
4        4
      ...
96      96
97      97
98      98
99      99
100    100
Name: a, Length: 101, dtype: int64

In [9]:
df.a.mean()

50.0

In [10]:
df.a.median()

50.0

In [12]:
df.a.std()

29.300170647967224

In [13]:
df.a.describe()

count    101.000000
mean      50.000000
std       29.300171
min        0.000000
25%       25.000000
50%       50.000000
75%       75.000000
max      100.000000
Name: a, dtype: float64