## Interactive Dasboard with Viola

We are going to create widgets to add to our interactive dashboard! FYI-A widget is an element of a graphical user interface (GUI) that displays information or provides a specific way for a user to interact with the operating system or an application.

In [1]:
import numpy as np
import pandas as pd
import folium

In [2]:
df = pd.read_csv('C:/Users/Windows/Desktop/Data Sets/hotel_booking.csv')

In [3]:
df.head()

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date,name,email,phone-number,credit_card
0,Resort Hotel,0,342,2015,July,27,1,0,0,2,...,Transient,0.0,0,0,Check-Out,2015-07-01,Ernest Barnes,Ernest.Barnes31@outlook.com,669-792-1661,************4322
1,Resort Hotel,0,737,2015,July,27,1,0,0,2,...,Transient,0.0,0,0,Check-Out,2015-07-01,Andrea Baker,Andrea_Baker94@aol.com,858-637-6955,************9157
2,Resort Hotel,0,7,2015,July,27,1,0,1,1,...,Transient,75.0,0,0,Check-Out,2015-07-02,Rebecca Parker,Rebecca_Parker@comcast.net,652-885-2745,************3734
3,Resort Hotel,0,13,2015,July,27,1,0,1,1,...,Transient,75.0,0,0,Check-Out,2015-07-02,Laura Murray,Laura_M@gmail.com,364-656-8427,************5677
4,Resort Hotel,0,14,2015,July,27,1,0,2,2,...,Transient,98.0,0,1,Check-Out,2015-07-03,Linda Hines,LHines@verizon.com,713-226-5883,************5498

### Creating Interactive Widgets

Let's create 3 widgets. A slider widget that enables use to see a range of our data and two multiple selection widgets.

In [4]:
import ipywidgets as widgets

This slider widget will control how many rows of our data set we can load. If the slider value is 1000, Pandas should load the first number of rows to match. For example, our hotel data has 10000 rows. So let's set our value somewhere in the middle. Then set the min and max accordingly. Then, we use step as the value increment or decrement when we move the slider up and down

In [5]:
style = {'description_width': 'initial'}
limit_case = widgets.IntSlider(
    value=1000,
    min=100,
    max=5000,
    step=1,
    description='Max number of hotel stays',
    disabled=False,
    style=style)

In [6]:

def update_df_length(limit):
    
    df = pd.read_csv('C:/Users/Windows/Desktop/Data Sets/hotel_booking.csv')
    df = df.iloc[0:limit, :]
    
    print("Number of rows in the dataset that have been successfully loaded:"+str(len(df)))

In [7]:
widgets.interactive(update_df_length, limit=limit_case)

Number of rows in the dataset that have been successfully loaded:1000

## Creating a second widget

In [8]:
import pandas as pd
import ipywidgets as widgets
from ipywidgets import Layout

In [7]:
df = pd.read_csv('C:/Users/Windows/Desktop/Data Sets/hotel_booking.csv')
unique_states = df.state.unique()
states = widgets.SelectMultiple(
    options = unique_states.tolist(),
    value = ['AL', 'AZ'],
    description='State',
    disabled=False,
    layout = Layout(width='50%', height='80px', display='flex')

SyntaxError: unexpected EOF while parsing (Temp/ipykernel_19400/3297422032.py, line 8)